h1 {
    margin-top: .5em;
}

.alignment-good h1 {
    font-family: 'Dynalight', cursive;
}

.alignment-evil h1 {
    font-family: 'Butcherman', cursive;
}

.alignment-evil {
    background-color: black;
    color: red;
}

.insanity-1 {
    transform: rotate(1deg);
}
.insanity-2 {
    letter-spacing: 2px;
    transform: rotate(15deg);
}

.insanity-3 {
    letter-spacing: 10px;
    transform: rotate(80deg);
}

.insanity-4 {
    letter-spacing: 25px;
    transform: rotate(108deg);
}

.good-blue {
    color: #2176FF;
}
.good-red {
    color: #F3363A;
}
.good-green {
    color: #6EEB83;
}
.good-orange {
    color: #FF7E14;
}
.good-yellow {
    color: #FDCA40;
}

.evil-blue {
    color: #FFA60B;
}

.evil-red {
    color: #34C72C;
}
.evil-green {
    color: #FF8177;
}
.evil-orange {
    color: #0C9999;
}
.evil-yellow {
    color: #3E49AF;
}